.FirstPageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #FAA733;
}

.Title {
    font-size: 10rem;
    color: #C81E00;
    margin-bottom: 0px;
}

.Description {
    font-size: 1.5rem;
    color: #724200;
    margin-top: -1px;
    margin-bottom: 50px;
}

.Howtodo-button {
    padding: 15px 40px;
    font-size: 1.5rem;
    background-color: #FDCE85;
    color:#724200;
    border: 2px solid #F9E1C6;
    border-radius: 10px;
}

.Start-button {
    padding: 15px 40px;
    font-size: 1.5rem;
    background-color: #FDCE85;
    color:#724200;
    border: 2px solid #F9E1C6;
    border-radius: 10px;
    margin-top: 20px;
}