.Tools {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}


.Title4 {
    font-size: 60px;
    color: #5e3804;
    text-align: center;
    font-weight: bold;
}

.spoon {
    padding: 20px 32px !important;
    font-size: 1.5rem !important;
    background-color: #FDCE85;
    color: #724200;
    border: 2px solid #F9E1C6;
    border-radius: 10px;
    cursor: pointer;
    flex-basis: 135px;
}

.fork {
     padding: 20px 32px !important;
    font-size: 1.5rem !important;
    background-color: #FDCE85;
    color: #724200;
    border: 2px solid #F9E1C6;
    border-radius: 10px;
    cursor: pointer;
    flex-basis: 135px;
}

.hand {
     padding: 20px 32px !important;
    font-size: 1.5rem !important;
    background-color: #FDCE85;
    color: #724200;
    border: 2px solid #F9E1C6;
    border-radius: 10px;
    cursor: pointer;
    flex-basis: 135px;
}



.Back-button {
    padding: 16px 24px;
    font-size: 1rem;
    background-color: #ffffff;
    opacity: 40%;
    color: #724200;
    border: 2px solid #D48F36;
    border-radius: 50% !important;
    cursor: pointer;
    flex-basis: 135px;
    position: absolute; 
    top: 350px;          
    right: 1305px;
    transform: translateY(-50%);
    flex-basis: auto !important;
    flex-shrink: 0;
}

.Drink {
    padding: 16px 24px;
    font-size: 1rem;
    background-color: #ffffff;
    opacity: 40%;
    color: #724200;
    border: 2px solid #D48F36;
    border-radius: 50% !important;
    cursor: pointer;
    flex-basis: 135px;
    position: absolute; 
    top: 350px;          
    right: 50px;
    transform: translateY(-50%);
    flex-basis: auto !important;
    flex-shrink: 0;
}