.Tools {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.Title4 {
    font-size: 60px;
    color: #5e3804;
    text-align: center;
    font-weight: bold;
}

.dolsotKit {
    width: 50%;
}

.spoon {
    padding: 20px 32px;
    font-size: 1.5rem;
    background-color: #FDCE85;
    color: #724200;
    border: 2px solid #F9E1C6;
    border-radius: 10px;
    cursor: pointer;
}

.fork {
    padding: 20px 32px;
    font-size: 1.5rem;
    background-color: #FDCE85;
    color: #724200;
    border: 2px solid #F9E1C6;
    border-radius: 10px;
    cursor: pointer;
}

.hand {
    padding: 20px 32px;
    font-size: 1.5rem;
    background-color: #FDCE85;
    color: #724200;
    border: 2px solid #F9E1C6;
    border-radius: 10px;
    cursor: pointer;
}

.Back-button {
    width: 50px;
    height: 50px;
    font-size: 1rem;
    background-color: #ffffff;
    opacity: 0.4;
    color: #724200;
    border: 2px solid #D48F36;
    border-radius: 50%;
    cursor: pointer;
    position: fixed;        /* absolute → fixed */
    top: 50%;               /* 350px → 50% */
    left: 40px;             /* right 1305px → left 40px */
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.Drink {
    width: 50px;
    height: 50px;
    font-size: 1rem;
    background-color: #ffffff;
    opacity: 0.4;
    color: #724200;
    border: 2px solid #D48F36;
    border-radius: 50%;
    cursor: pointer;
    position: fixed;        
    top: 50%;               
    right: 40px;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
}